run = "python run_local.py"
entrypoint = "run_local.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python run_local.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
